[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
